<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-sm-6">
    <h2>Items</h2>
    <form class="settings__user-block" [formGroup]="chapterForm" (ngSubmit)="addChapter()">
      <input type="text" formControlName="chapterInput" class="settings__user-input settings__user-input_name" placeholder="Type name here..."
      />
    </form>
    <div *ngIf="chapterList.length">
      {{chapterList}}
      <div *ngFor="let chapter of chapterList">
        <div (click)="selectCurrentChapter(chapter)" [ngClass]="{'active': chapter == currentChapter}"> {{chapter.title}} </div>
        <button (click)="deleteCurrentChapter(chapter)"> delete </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    qwerty2
    <div *ngIf="currentChapter">
      <div *ngFor="let comment of currentChapter.comment ">
        {{comment.description}}
      </div>
      <form (keydown)="keyDownFunction($event)" class="settings__user-block" [formGroup]="commentForm" (ngSubmit)="addComment()">
        <textarea formControlName="commentDescription">Hello, Froala!</textarea>
      </form>
    </div>
  </div>
</div>
